.mainDIV{
    width:100%;
    height:1000px;
    padding-top: 50px;
    background-color:blue;
}

.elemDIV{
    width:70%;
    height: 800px;
    margin:auto;
    background-color: aqua;
}

.imgCard{
    width:150px ;
    height: 150px;
    float: left;
    background-color: royalblue;

}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    }

.ingrediente{
    list-style-type:none;
    padding-left: 0px;
    margin-left: 0px;
}

.ingrediente:link{
    text-decoration:none;
}

.ingrediente:hover{
    text-decoration: none;
    color: gray;
}

.menuHead{
    width:250px;
    height: 250px;
    margin:auto;
    border:1px solid black;
    margin-top: 10%;
    margin-bottom: 3%;
    background-color: red;
}

.menuTitle
{
    margin-bottom: 7%;
    text-decoration: bolder;
    text-align: center;
}

.catHead{
    background-color: white;
    color: black;
    text-decoration: none;

}

.catHead:link{
    text-decoration: none;
}



.catHead:active{
    text-decoration: none;
}

.catHead:visited{
    text-decoration: none;
}

.catHead:hover{
    text-decoration: none;
    color: red;
}

.kitchenTable{
    width:10%;
    margin:10px;
    height: 100px;
    border:1px solid lightgray;
    border-radius: 2%;
    padding: 0;
    text-align: center;
}

.kitchenTable0{
    height: 200px;
    border:none;
    border-radius: 2%;
    background-color: white;
    color: black;
}

.kitchenTable1{
   height: 200px;
    border:none;
    border-radius: 2%;
    background-color: red;
    color: black;

}

.kitchenTable2{
    height: 200px;
    border:none;
    border-radius: 2%;
    background-color: yellow;
    color: black;

}

.kitchenTable3{
    height: 200px;
    border:none;
    border-radius: 2%;
    background-color: greenyellow;
    color: black;

}

.kitchenTable:hover{
    box-shadow:5px 5px 10px lightgray;
    
}

.kitchenTableH{
    margin:40px;
    height: 100px;
    border:none;
}

.tableInfo{
    position: fixed;
    bottom: 0;
    width: 80%;
    margin: 20px;
    
}

.midDiv{
    width:45%;
    height: 1000px;
    float: left;
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px;
}

.colOrdine{
    margin:10px;
    padding:3px;
}

.dashDiv{
    height:40px;
}

.picPiatto
{
    width: 250px;
    height: 250px;
    margin: 30px;
    background-color: grey;
}
