.mainDIV{
    width:100%;
    height:1000px;
    padding-top: 50px;
    background-color:blue;
}

.elemDIV{
    width:70%;
    height: 800px;
    margin:auto;
    background-color: aqua;
}

.imgCard{
    width:150px ;
    height: 150px;
    float: left;
    background-color: royalblue;

}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    }

.ingrediente{
    list-style-type:none;
    padding-left: 0px;
    margin-left: 0px;
}

.ingrediente:link{
    text-decoration:none;
}

.ingrediente:hover{
    text-decoration: none;
    color: gray;
}

.menuHead{
    width:250px;
    height: 250px;
    margin:auto;
    border:1px solid black;
    margin-top: 10%;
    margin-bottom: 3%;
    background-color: red;
}

.menuTitle
{
    margin-bottom: 7%;
    text-decoration: bolder;
    text-align: center;
}

.catHead{
    background-color: white;
    color: black;
    text-decoration: none;

}

.catHead:link{
    text-decoration: none;
}



.catHead:active{
    text-decoration: none;
}

.catHead:visited{
    text-decoration: none;
}

.catHead:hover{
    text-decoration: none;
    color: red;
}